<!doctype html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}{% endblock %}</title>
  {{ bootstrap.load_css() }}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
  />
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link {% if url_for('index') == request.path %}
              active
            {% endif %}"
            href="{{ url_for('index') }}"
            >Home</a
          >
        </li>
        {% if g.user %}
          <li class="nav-item">name</li>
          <li class="nav-item">Allocations</li>
          <li class="nav-item">Transactions</li>
          <li class="nav-item">Order</li>
          <li class="nav-item">Log Out</li>
        {% else %}
          <li class="nav-item">
            <a
              class="nav-link {% if url_for('auth.admin') == request.path %}
                active
              {% endif %}"
              href="{{ url_for('auth.admin') }}"
              >Admin</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if url_for('auth.register') == request.path %}
                active
              {% endif %}"
              href="{{ url_for('auth.register') }}"
              >Register</a
            >
          </li>
          <li
            class="nav-item {% if url_for('auth.login') == request.path %}
              active
            {% endif %}"
          >
            <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <section class="content container">
    <header class="my-3 py-5">{% block header %}{% endblock %}</header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    <main>{% block content %}{% endblock %}</main>
  </section>
  <footer></footer>
  {{ bootstrap.load_js() }}
</body>
