{% extends 'base.html' %}
{% from 'utils.html' import card %}

{% block header %}
  <div class="px-3 bg-img rounded index-hero">
    <h1>{% block title %}Public Distribution System{% endblock %}</h1>
    <p>Welcome to the web PDS, Feeding India since 2026.</p>
  </div>
{% endblock %}

{% block content %}
  <section class="container">
    <section class="pb-4">
      <h2>History</h2>
      <p>
        During the World War II, India faced acute food shortage and to meet the
        exigencies, a separate Food Department was established on 1st December,
        1942 under the Commerce Member of the Governor General's Council. Mr.
        Benjamin George Holdsworth, CIE, ICS, was the first Secretary of the
        Food Department. the new department with its headquarter at the Imperial
        Secretariat, New Delhi, took over all matters pertaining to the control
        of price and movement of food stuffs including sugar and salt (except
        tea and coffee). the administration of Export trade Control in respect
        of food-stuffs was also transferred to this department. However, the
        procurement of food stuff for the Army continued with the Supply
        Department. This was the beginning of the PDS.
      </p>
    </section>
    <section class="row mt-5">
      <div class="col">
        {{
          card(
            title = 'Families',
            description = 'There are ' + family_count + ' families currently registered for public distribution.',
            button ='register',
            url = url_for('auth.register'),
            icon = 'people-fill'
          )
        }}
      </div>

      <div class="col">
        {{
          card(
            title = "Allocations",
            description = "We have " + allocation_count + " allocations ready to be distributed.",
            icon = "basket-fill",
            button = "order",
            url = "#"
          )
        }}
      </div>

      <div class="col">
        {{
          card(
            title = "States",
            description = "Currently operational in " +  state_count + " provinces all across the Indian peninsula.",
            icon = "globe-central-south-asia",
            button = "statisitcs",
            url = "#"
          )
        }}
      </div>
    </section>
  </section>
{% endblock %}
