{% from 'bootstrap5/utils.html' import render_icon %}
{% macro card(title, description, button, url, icon='') %}
  <article class="card">
    {% if icon != '' %}
      <div
        class="position-absolute start-50 translate-middle rounded-circle p-3 text-light bg-dark"
      >
        {{ render_icon(icon, size='64px') }}
      </div>
    {% endif %}
    <section class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">{{ description }}</p>
      <a href="{{ url }}" class="btn btn-primary">{{ button }}</a>
    </section>
  </article>
{% endmacro %}
